
*{
    font-family:'微软雅黑',Arial, Helvetica, sans-serif;
    font-size:16px;
}
/*top登录样式*/
.topnav {
    height:36px;
    line-height:36px;
    font-size:14px;
}
.topnav_box {
    border-bottom: 1px solid #eee;
    background-color: #fff;
}
.topnav div {
        float: right;
        padding:0 8px;
      
    }
    .topnav_box div.nomargin {
        /* padding: 0 10px; */
        background: url("../../image/line.jpg") no-repeat center 11px;
        height:36px;
        width:20px;
    }
    .topnav div a {
        color: #333;
        display: inline-block;
        height: 36px;
    }
    .topnav .avator{
        width:25px;
        height:25px;
        border-radius:50%;
        display:inline-block;
        line-height: 36px;

    }
    .topnav .logout_btn{
        border:0;
        outline:none;
        color:#333;
        font-size:14px;
        background-color: #fff;   

    }
    .topnav .username{
         color:#ee5533;
    }
   
    .topnav .logout_btn:hover{
        text-decoration: underline;
        color:#ee5533;
    }


/*搜索样式*/
.search {
    height:130px;
    padding:15px 0;
}
    .search .logo.fl {
        width:240px;
        height:100px;
    }
    .search .category_box{
        width: 600px;
        height: 61px;
        margin: 34px 0 0 55px;
    }
    .search .category {
        display: none;
    }
  
    .search .searchKey {
        width: 517px;
        height:42px;
        background-color: #fff;
        padding: 5px 10px;
        border: 2px solid #ee5533;
        box-sizing: border-box;
        outline: none;
    }
    .search .searchBtn {
        width: 80px;
        height: 42px;
        font-size: 18px;
        display: inline-block;
        background-color: #ee5533;
        color: #fff;
        outline: none;
    
        border:0px;
    }
    .nav_box{
        background-color: #ee5533;
        color:#fff;
        height: 36px;
        width: 100%;
        line-height: 36px;;
        text-align: center;
        
    }
    .nav{
        display: flex;
        
    }
 
    .nav li{
       flex:1;
       justify-content: space-around;
       align-items: center;
    }
    .nav div.all{
        width:190px;
        display: inline-block;
       
    }
    .nav li a, .nav div.all{
      
        display: block;
        color:#fff;
        font-size: 16px;
       

        
    }
    .nav li a:hover{
        background-color: #9a0000;
    }
    .nav li a:active{
        background-color: #9a0000;

    }

    /* 侧边栏导航*/
    .banner{
        background-color: #f3f3f3;
    }
    .datalist1{
        border:1px solid #9a0000;
        border-top:0;
        width:190px;
        height:360px;
        padding: 20px 15px;
        background-color: #fff;
    }
   .datalist1 .pet_icon{
       background:url("../../image/icon_sprite.png") 0px 0px no-repeat;
       height: 30px;
       display: inline-block;
       width: 30px;
       line-height: 30px;
      

   }
   .datalist1 .pet_icon.cat{
       background-position: -57px 0px;
    

   }
   .datalist1 .pet_name{
    height: 30px;
    font-weight: 400;
    position: relative;
    top:-10px;
    left:17px;
   
   }
   .datalist2{
    margin-top: 20px;
    padding:20px 0;
    border-top: 1px solid #ccc;
   }
   .datalist1 span a{
  font-size: 14px;
  color:#666;
   }
   .datalist1 span a:hover{
       color:red;
       text-decoration: underline;
   }


   .content_placeholder{
      position: relative;
      left: 190px;
      top:-360px;

   }
   div.layout_default{
    position: relative;
    left: 190px;
    
   }









   /* 底部版权声明样式 */
   div.login_content {
    background: #f3f3f3;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
div.footer_auto {
    width: 990px;
    margin: 0 auto;
    text-align: center;
}
div.footer_bot p.link a{
    color: #333; font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
   
}
div.footer_bot p a,div.footer_bot p {
    color: #666;
    line-height: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}



/* 首页轮播图样式 */
.swiper-container {
    width: 800px;
    height: 360px;
  position: relative;
  left:-5px;
    } 
.swiper-pagination{
    --swiper-pagination-color: #ee5533;

}




/* 首页 狗狗商品信息展示 */
.petslist {
    height: 520px;
    position: relative;
    top:-340px;
}

    .petslist .navpet {
        height: 38px;
        line-height: 38px;
    border-bottom: 2px solid #ee5533;

    
    }

    .petslist .content_pet {
        height: 480px;
        font-size: 0px;
    }

    .petslist .navpet .pettit {
        width: 190px;
        height: 38px;
        /* padding: 5px 0 3px 0; */
        display: inline-block;
        box-sizing: border-box;
    }

        .petslist .navpet .pettit span {
            display: inline-block;
            width: 30px;
            height: 30px;
            background: url("../../image/icon_sprite.png") 0px 0px no-repeat;
        }
        .petslist .navpet .pettit.cat span {
            background: url("../../image/icon_sprite.png") -57px 0px no-repeat;
           
        }

        .petslist .navpet .pettit h2 {
            color: #ee5533;
            font-weight: 400;
            font-size: 20px;
            padding-left: 10px;
            display: inline-block;
            position: relative;
            top:-6px;
        }
   .petslist .navpet .navtit .brief a{
            display: inline-block;
            padding:0 15px;
            width: 100%;
            height: 100%;
            color:#333;
            text-align: center;
            box-sizing: border-box;
            background: url(../../image/line.jpg) no-repeat right 12px;

        }
        .petslist .navpet .navtit .brief a:hover{
            background: #ee5533;
            color:#fff;
            text-decoration: underline;

        }
    .petslist .content_pet  .content_l{
        width: 190px;
        height: 480px;
    display: inline-block;
    position: relative;
    top:-7px;
    background: url("../../image/dog_list.jpg")  no-repeat;      
    }
    .petslist .content_pet  .content_l.cat{
        width: 190px;
        height: 480px;
    display: inline-block;
    background: url("../../image/cat_list.jpg") no-repeat;      
    }

.petslist .content_pet .content_c {
    width:800px;
    height: 480px;
    display: inline-block;
    font-size: 0px;
    position: relative;
    top:-32px;

}
.petslist .content_pet .content_c iframe{
  
}
.petslist .content_pet .content_c .vendor{
    display: flex;
}
.petslist .content_pet .content_c .vendor li{
flex:1;
}
.petslist .content_pet .content_c .vendor li img{
    width: 100px;
    height: 58px;
    padding:10px;
    border:1px solid #ccc;
    border-left: 0;
}
.petslist .content_pet .content_c .vendor li img.last{
    border-right: 0;
}

.petslist .content_pet .content_r {
    width: 200px;
    height: 480px;
    display: inline-block;
    box-sizing: border-box;
    padding:10px;
    border:1px solid #ccc;
    border-top: 0;

}

.petslist .content_pet .content_r p{
    font-size: 16px;
    color: #ee5533;
    height: 18px;
}







/* 商品类型信息展示样式 */
div.shangPinTypeList{
    width:1000px;
    background-color: #fff;

}
.layout_shangPinTypeList{
    margin: 0 auto;
}
.shangPinTypeList .price{
    color:#ee5533;
    font-weight: 700;
}
.shangPinTypeList .sellCount{
    color:#999;
    font-size: 12px;

}
.shangPinTypeList .comment{
    margin-left: 20px;
    font-size: 12px;
    color:#333;
}
.shangPinTypeList .commentCount{
    color:#d88;
    font-style: normal;
}
.shangPinTypeList .desc{
    color: #333;
    font-size: 12px;
    height: 40px;
    width: 210px;
    display: block;
    overflow: hidden;
}
.shangPinTypeList .good{
    padding:7px 2px 0 ;
    width:230px;
    box-sizing: border-box;
    margin: 20px 10px 0;
    border: #fff 2px solid;
}
.shangPinTypeList .good:hover{
    border: #ee5533 2px solid;
}
.shangPinTypeList .good  img{
    position: relative;
    left: 6px;
   
}
.shangPinTypeList .addToCart{
    margin-top: 15px;
    color:#333;
    height: 30px;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    background: url("../../image/cart_red.png") 20px 7px no-repeat;
    background-color: #f3f3f3;
}
.shangPinTypeList .addToCart:hover{
    margin-top: 15px;
    color:#fff;
    height: 30px;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    background: url("../../image/cart_whrite.png") 20px 7px no-repeat;
    background-color: #ee5533;
}




/* 
翻页方式 */

.paging{
    width: 520px;
    margin:20px auto;

}